.btn {
    color: white;
    background: rgb(42, 42, 245);
    margin: 20px;
    padding: 8px 20px;    
    margin-left: 46%;
    font-size: 16px;
    border-radius: 12px;
}
.but {
    color: white;
    background: rgb(42, 42, 245);
    margin: 20px;
    padding: 8px 20px;    
    margin-left: 46%;
    font-size: 16px;
    border-radius: 12px;
}
h2 {
    font-size: xx-large;
    margin-left: 45%;
}
.txt {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 55px;
}